<html>
  <head>
    <title><%= @endpoint %></title>
  </head>
  
  <body>
    
    <% arr = self.is_a?(Array) ? self : [self] %>
    
    <% arr.each do |service| %>
      <div class="service">
        <h2><%= service.endpoint %> (<%= service.method.upcase %>)</h2>
    
        <h3 class="request">Request</h3>
    
        <% unless service.params.empty? %>
          <table>
            <thead>
              <tr>
                <th>Key</th>
                <th>Required</th>
                <th>Description</th>
                <th>Example</th>
              </tr>
            </thead>
            <tbody>
              <% service.params.each_pair do |k, v| %>
                <tr>
                  <td><%= k %></td>
                  <td><%= v["required"] %></td>
                  <td><%= v["description"] %></td>
                  <td><%= v["example_value"] %></td>
              <% end %>
            </tbody>
          </table>
    
        <% end %>

    
    
        <h3 class="response <%= service.method.downcase %>">Response</h3>
    
        <% unless service.response.empty? %>
          <table>
            <thead>
              <tr>
                <th>Key</th>
                <th>Data Type</th>
                <th>Example Value</th>
              </tr>
            </thead>
            <tbody>
              <% service.response.each_pair do |k,v| %>
                <tr>
                  <th><%= k %>:</th>  
                  <td><%= v.class %></td>
                  <td><%= WebServiceDocumenter::Helper.html_for_value(v) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    <% end %>
      
  </body>
</html>